.control {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid red;
  background-color: rosybrown;

  &--theme {

    &--success {
      background-color: green;
      color: white;

      &:hover {
        background-color: #005500;
      }
    }
  }
}

.px2 {
  padding-right: 8px;
  padding-left: 8px;
}
.py1 {
  padding-bottom: 4px;
  padding-top: 4px;
}
.p4 {
  padding: 16px;
}
