.t3 {
  top: 3 * $space;
}
.r3 {
  right: 3 * $space;
}

.p2 {
  padding: 2 * $space;
}
.p3 {
  padding: 3 * $space;
}
.pt3 {
  padding-top: 3 * $space;
}
.pl3 {
  padding-left: 3 * $space;
}
.pl5 {
  padding-left: 5 * $space;
}

.br8 {
  border-radius: 8px;
}

.h6 {
  height: 6 * $space;
}
.h8 {
  height: 8 * $space;
}

.h68px {
  height: 68px;
}

.h32px {
  height: 32px;
}
.w64px {
  width: 64px;
}
.br16px {
  -webkit-border-radius: 50px!important;
}
