extends ../../template/layout/default

append config
  -
    var title = "index"
    var metaDesc = "My page description"
    var template = "my-friends-desks grid grid--state--is-active-sidebar"

block content


