.control {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &--size {

    &--parent-width {
      width: 100%;
    }
  }

  &--theme {

    &--transparent-white {
      background-color: rgba(256, 256, 256, 0.3);
      color: white;
    }
  }
  &--theme {

    &--primary-switcher {
      color: #916c31;

      &.is-active {
        background-color: white;
        color: black;
      }

      &:not(.is-active):hover {
        background-color: #e89b01;
        color: #7b5600;
      }
    }
  }

}
