extends ../../template/layout/summary

append config
  -
    var title = "MD - one item page"
    var metaDesc = "My page description"
    var template = "one-item-page grid grid--state--is-active-sidebar"

block content


